body {
	background-color: #000
}

#console {
	font-family: courier, monospace;
	color: #fff;
	width:410px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	font-size:15px;
}

a {
	color: rgb(20, 112, 218);
	text-decoration: none;
}

#a {
	color: #0f0;
}
#u {
	color: rgb(255, 208, 0);
}

#c {
	color: #0bc;
}

#b {
	color: #ff0096;
}

#k {
    	animation: change 1s;
}

#op{
    	color: #888888
}

@keyframes change {
    	0%  { color:  #0f0; }
    	50% { color:  #0f0; }
    	99% { color: black; }
}
