#container
    #back
    #border
    #card3
    #card2
    #chip2
    #screenBack
    #card1
    #speaker
    #chip
    #chipPinL
    #chipPinR
    #ec1
    #volumeWheelBack
    #volumeWheel
    #joystickBack
    #buttonsABBack
    #buttonsSSBack
    #jackBack
    #jack
    #ec2
    #powerBack
    #power
    #box
    #screen
    #screen2
    #joystickCross1
    #joystickCross2
    #buttonsSS
    #buttonsSSText
    #buttonsAB
    #buttonsABText
    #gameboyText GAME BOY
    #powerLed
    #speakerFilter